<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load admin_urls %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block head %}
    <title>Simple Sidebar - Start Bootstrap Template</title>
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'account/style.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'account/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right margin_local" id="sidebar-wrapper">
        <div class="sidebar-heading"><h2>Puddle</h2></div>
      <div class="list-group list-group-flush bg-dark nav_list">
        <a href="{% url 'item:UserHome' %}" class="list-group-item list-group-item-action bg-dark">Home</a>
        <a href="{% url 'item:Equipment' %}" class="list-group-item list-group-item-action bg-dark">Equipment</a>
        <a href="{% url 'job:Jobs' %}" class="list-group-item list-group-item-action bg-dark">Jobs</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">Statistics</a>
          {% if current_user.is_staff == True %}
             <a href="" class="list-group-item list-group-item-action bg-dark">Admin</a>
          {% endif %}
        <a href="#" class="list-group-item list-group-item-action bg-dark">Settings</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
        <button class="btn btn-info" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 right_nav">
            <li class="nav-item active">
                <div class="sidebar-heading"><h3 class="user_tag mr-5">{{ current_user.username }}|</h3></div>
            </li>
            <li class="nav-item active nav_list">
                <a class="nav-link" href="{% url 'account:logout' %}"><span>Logout</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        {% block body %}

        {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'account/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'account/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
