body{
    background-color: #f5fcf4;
}

h2{
    color: #3adcfa;
}



.container-own{
    background-color: gray;
    opacity: 50%;
    width: 80%;
    padding: 3em;
    border-radius: 25px;
}

.user_tag{
    color: #3adcfa;
}

.nav_own{
    background: gray;
}

.box_gray{
    background-color: #4e555b;
}

.nav_list{
    color: white;
}

.nav_list a{
    color: white;
}

.right_nav a span{
    color: white;
}

.list_button{
    color: white;
}

.own_tables{
    padding: 15px;
    margin-top: 50px;
    text-align: left;
}

.own_tables th{
    padding: 10px;
}

.login_box{
    background-color: black;
}

.button_own{
    width: 40%;
    border-radius: 0;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}




