{% extends 'base.html' %}
{% block head %}
    <title>Equipment</title>
{% endblock %}

{% block body %}
    <div class="container m-auto w-auto">
        <div class="container mt-5">
            <h1 class="h1">Equipment</h1>
            <form method="get" class="form-inline my-2 my-lg-1">
                <input
                    class="form-control mr-sm-2" type="search" placeholder="search" aria-label="search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form action="{% url 'item:add_item' %}">
                {% csrf_token %}
                <button class="btn btn-secondary mt-5 ml-4 mb-2" type="submit">Add Item</button>
            </form>
            <ul>
            {% for items in all_items %}
                <form action="{% url 'item:selected_item' items.pk %}">
                    <button class="btn btn-outline-primary button_own mb-2" type="submit">{{ items.item_name }}</button><br>
                </form>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
